@use "../utils/breakpoints" as b;

.header {
  position: fixed;
  top: 0;
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--distance-xs);
  background-color: var(--color-white);
  transition: transform 0.2s ease-in-out;
  z-index: 1000;

  @media (min-width: b.$breakpoint-tablet) {
    position: sticky;
    width: 100%;
    padding: var(--distance-xs);
  }

  @media (min-width: b.$breakpoint-Desktop) {
    padding: var(--distance-xl) var(--distance-5xl);
  }

  /* NAVIGATION */
  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    @media (min-width: b.$breakpoint-tablet) {
      position: static;
      transform: none;
      height: auto;
      width: auto;
      flex-direction: row;
    }
  }

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--distance-xl);

    @media (min-width: b.$breakpoint-tablet) {
      flex-direction: row;
      gap: var(--distance-s);
    }

    @media (min-width: b.$breakpoint-Desktop) {
      gap: var(--distance-xl);
    }

    li a {
      text-decoration: none;
      color: var(--color-black);
      font-weight: 500;
    }
  }

  /* BURGER ICON */
  .burger-icon {
    position: relative;
    z-index: 1010;
    width: var(--distance-m);
    height: var(--distance-s);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: b.$breakpoint-tablet) {
      display: none;
    }

    .line,
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: var(--color-black);
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    .line {
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  /* NAV TOGGLE */
  .nav-toggle {
    display: none;
  }

  .nav-toggle:checked ~ .header__nav {
    transform: translateX(0);
  }

  .nav-toggle:checked + .burger-icon .line {
    transform: rotate(45deg);
  }

  .nav-toggle:checked + .burger-icon::before {
    top: 50%;
    transform: rotate(-45deg);
  }

  .nav-toggle:checked + .burger-icon::after {
    opacity: 0;
  }
}
