@use "../utils/breakpoints" as b;
@use "../utils/mixin" as f;



.img-row {
  position: relative;
  overflow: hidden;
  width: 100%;


  .slider-track {
    display: flex;
    transition: transform 0.4s ease;
    will-change: transform;
    gap: 0; 
  }

 
  .slide {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .logo--primary {
    color: var(--color-black);
  }
  .logo--secondary {
    color: var(--color-classic-rose);
  }

  
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: var(--distance-xxs);

    svg {
      pointer-events: none;
    }
  }

  .prev {
    left: 4px;
  }
  .next {
    right: 4px;
  }

  .icon__right-arrow {
    transform: rotate(90deg);
  }
  .icon__left-arrow {
    transform: rotate(-90deg);
  }

  
  @media (min-width: b.$breakpoint-tablet) {
    .slide {
      flex: 0 0 33%; 
    }
  }


  @media (min-width: b.$breakpoint-Desktop) {
    overflow: visible;

    .slider-track {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: var(--distance-m);
      max-width: 1400px;
      margin-inline: auto;
      transform: none !important;
    }

    .slide {
      flex: 0 0 auto;
      min-width: 8rem;
    }

    .slider-btn {
      display: none; 
    }
  }
}
