* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: column;
}

input,
button {
  all: unset;
  border: 1px solid gray;
  padding: 10px 20px;
  margin: 5px 0;
}

button {
  background-color: aqua;
}
